<%- include("../layouts/adminHeader") %>

    <div id="content">
        <form action="/admin/updateproduct/<%= product._id %>" method="post">
            <div class="container py-3">
                <h1 class="h3">Update Product</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="productName" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="productName" name="productname" value="<%= product.productname %>"
                            name="productname" placeholder="Enter product name here">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="3"
                            placeholder="Type description here"><%= product.description %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category" name="category">
                            <% category.forEach(category=> { %>
                                <option value="<%= category.name %>" <%=product.category===category.name ? 'selected'
                                    : '' %>>
                                    <%= category.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="regularPrice" class="form-label">Regular Price</label>
                        <div class="input-group">
                            <span class="input-group-text">₹</span>
                            <input type="number" class="form-control" value="<%= product.price %>" name="price"
                                id="regularPrice" aria-label="Regular price">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="productGallery" class="form-label">Product Gallery (multiple images can be
                            uploaded)</label>
                        <input type="file" class="form-control mb-2" id="productGallery" name="productImages" multiple>
                        <div class="row">
                            <% product.productImages.forEach(image=> { %>
                                <div class="col-md-3 mb-3">
                                    <img src="/uploads/<%= image %>" class="img-fluid" alt="Product Image">
                                    <a href="#" class="btn-delete" data-image="<%= image %>">Delete</a>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="remainingProducts" class="form-label">Remaining Products</label>
                        <input type="number" class="form-control" value="<%= product.quantity %>" name="quantity"
                            id="remainingProducts" placeholder="Enter number of remaining products">
                    </div>
                </div>
                <input type="hidden" id="productId" value="<%= product._id %>">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-md-2 mb-2 mb-md-0" id="updateProduct">Update
                            Product</button>
                        <a href="/admin/products" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <%- include("../layouts/adminFooter") %>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const deleteButtons = document.querySelectorAll(".btn-delete");

                deleteButtons.forEach(button => {
                    button.addEventListener("click", function (event) {
                        event.preventDefault();

                        const index = this.dataset.index;
                        const imageContainer = this.parentElement;
                        const confirmation = confirm("Are you sure you want to delete this image?");

                        if (confirmation) {
                            // Remove the image container from the DOM
                            imageContainer.remove();
                        }
                    });
                });
            });
        </script>